.site-logo img {
  max-height: none !important;
  height: 150px !important;

  content: url("{{ site.baseurl }}/assets/img/LogoThreeDudes.png");
}

body,
.main-content,
.side-bar {
  background-color: #25343F !important;
}
