
body,
.main-content,
.side-bar {
  background-color: #25343F !important;
}
.main-content,
.side-bar,
.side-bar a,
.main-content p,
.main-content h1,
.main-content h2,
.main-content h3,
.main-content h4,
.main-content h5,
.main-content h6,
.main-content li {
  color: #FFFFFF !important;
}

.side-bar li a,
.side-bar li a.active {
  background: none !important;
  box-shadow: none !important;
}

.site-search input {
  background-color: #25343F !important;
  color: #FFFFFF !important;
  border: 1px solid #EAEFEF !important;
}

/* Placeholder text color */
.site-search input::placeholder {
  color: #FFFFFF !important;
  opacity: 0.7; /* optional: slightly lighter */
}
