
body,
.main-content,
.side-bar {
  background-color: #25343F !important;
}
.main-content,
.side-bar,
.side-bar a,
.main-content p,
.main-content h1,
.main-content h2,
.main-content h3,
.main-content h4,
.main-content h5,
.main-content h6,
.main-content li {
  color: #FFFFFF !important;
}
